<a href="https://colab.research.google.com/github/faridamousa23/Task-1-Data-Cleaning-and-Preprocessing/blob/main/Task_1_Data_Cleaning_and_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
 import pandas as pd
 df=pd.read_csv ("/content/my_file (1).csv")

In [3]:
df.describe()

            Rank       Shows
count  20.000000   20.000000
mean   10.450000  110.000000
std     5.942488   66.507617
min     1.000000   41.000000
25%     5.750000   59.000000
50%    10.500000   87.000000
75%    15.250000  134.500000
max    20.000000  325.000000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Actual gross                      20 non-null     object
 2   Adjusted gross (in 2022 dollars)  20 non-null     object
 3   Artist                            20 non-null     object
 4   Tour title                        20 non-null     object
 5   Year(s)                           20 non-null     object
 6   Shows                             20 non-null     int64
 7   Average gross                     20 non-null     object
 8   Ref.                              19 non-null     Int64
dtypes: Int64(1), int64(2), object(6)
memory usage: 1.6+ KB

In [5]:
df.shape

(20, 11)

In [6]:
df.index

RangeIndex(start=0, stop=20, step=1)

In [61]:
df.head()

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.,First Year,last Year
0,1,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,1,2023,2023–
1,2,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,3,2023,
2,3,411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294,6,2008,2008–
3,4,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,7,2018,2018–
4,5,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,8,2018,

In [99]:
df.isnull().sum()

Rank                                0
Actual gross                        0
Adjusted gross (in 2022 dollars)    0
Artist                              0
Tour title                          0
Shows                               0
Average gross                       0
Ref.                                0
First Year                          0
last Year                           0
dtype: int64

In [30]:
df = df.drop(columns =['All Time Peak','Peak'])

In [33]:

df['Ref.'] = df['Ref.'].astype(str)
df['Ref.'] = df['Ref.'].str.replace(r'[\[\]]', '', regex=True)
df['Ref.'] = pd.to_numeric(df['Ref.'], errors='coerce').astype('Int64')
df

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",1
1,2,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",3
2,3,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",6
3,4,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",7
4,5,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",8
5,6,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",9
6,7,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",11
7,7,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",12
8,9,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",13
9,10,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",14
10,11,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",1516
11,12,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",18
12,13,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",19
13,14,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",20
14,15,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",5
15,16,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",22
16,17,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",<NA>
17,18,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",4
18,19,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",25
19,20,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",26

In [58]:
import pandas as pd
import re
money_cols = ["Actual\xa0gross", "Adjusted\xa0gross (in 2022 dollars)", "Average gross"]
for col in money_cols:
    df[col] = (
        df[col].astype(str)
        .str.replace(r'[^0-9]', '', regex=True)
        .replace('', '0')
    )
    df[col] = pd.to_numeric(df[col])


df

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,1
1,2,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,3
2,3,411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294,6
3,4,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,7
4,5,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,8
5,6,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,9
6,7,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,11
7,7,257600000,257600000,Pink,Summer Carnival †,2023–2024,41,6282927,12
8,9,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,13
9,10,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882,14
10,11,229100000,283202896,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606,1516
11,12,227400000,295301479,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227,18
12,13,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993,19
13,14,200000000,299676265,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385,20
14,15,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333,5
15,16,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,22
16,17,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,<NA>
17,18,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,4
18,19,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,1385950,25
19,20,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,26

In [59]:
df["First Year"]=df['Year(s)'].str[:4]

In [62]:
 df["last Year"]=df['Year(s)'].str[:-4].str.replace(r'[^0-9]','',regex=True)

In [101]:
df.head()

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Shows,Average gross,Ref.,First Year,last Year
0,1,780000000,780000000,Taylor Swift,The Eras Tour,56,13928571,1,2023,2023
1,2,579800000,579800000,Beyoncé,Renaissance World T,56,10353571,3,2023,0
2,3,411000000,560622615,Madonna,Sticky & Sweet Tour,85,4835294,6,2008,2008
3,4,397300000,454751555,Pink,Beautiful Trauma World T,156,2546795,7,2018,2018
4,5,345675146,402844849,Taylor Swift,Reputation Stadium T,53,6522173,8,2018,0

In [66]:
df = df.drop(columns =['Year(s)'])

In [75]:
 df["last Year"]= df["last Year"].replace("", "0")

In [97]:
df = df.dropna(subset=['Ref.'])

In [102]:
df["Tour title"] = df["Tour title"].astype(str).str.replace(r'[\*\†‡\[\]a-z0-9]+$', '', regex=True)
df["Tour title"] = df["Tour title"].str.replace(r'\[[^\]]*\]', '', regex=True)
df["Tour title"] = df["Tour title"].str.strip()

In [103]:
df["Rank"] = pd.to_numeric(df["Rank"], errors="coerce").astype("Int64")
df["Shows"] = pd.to_numeric(df["Shows"], errors="coerce").astype("Int64")

In [104]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 0 to 19
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              19 non-null     Int64
 1   Actual gross                      19 non-null     int64
 2   Adjusted gross (in 2022 dollars)  19 non-null     int64
 3   Artist                            19 non-null     object
 4   Tour title                        19 non-null     object
 5   Shows                             19 non-null     Int64
 6   Average gross                     19 non-null     int64
 7   Ref.                              19 non-null     Int64
 8   First Year                        19 non-null     object
 9   last Year                         19 non-null     object
dtypes: Int64(3), int64(3), object(4)
memory usage: 2.2+ KB
None
   Rank  Actual gross  Adjusted gross (in 2022 dollars)        Artist  \
0     1     780000000                         780000000  Taylor Swift
1     2     579800000                         579800000       Beyoncé
2     3     411000000                         560622615       Madonna
3     4     397300000                         454751555          Pink
4     5     345675146                         402844849  Taylor Swift

                 Tour title  Shows  Average gross  Ref. First Year last Year
0                The Eras T     56       13928571     1       2023      2023
1       Renaissance World T     56       10353571     3       2023         0
2          Sticky & Sweet T     85        4835294     6       2008      2008
3  Beautiful Trauma World T    156        2546795     7       2018      2018
4      Reputation Stadium T     53        6522173     8       2018         0